@using Microsoft.AspNetCore.Identity
@using KPITV.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<script src="//vk.com/js/api/openapi.js" type="text/javascript"></script>

<script>
    VK.init({
        apiId: 5538688
    });
    $('.LogIn').click(function () {
        VK.Auth.login();
        //$.ajax({
        //    url: 'https://oauth.vk.com/authorize?client_id=5538688&display=popup&redirect_uri=https://vk.com&response_type=token&v=5.53'
        //});
    });
</script>

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
        <div>
            <a asp-controller="Manage" asp-action="Index" title="Manage">@UserManager.GetUserName(User)</a>
        </div>
        <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
    </form>
}
else
{
    <div><a asp-controller="Account" asp-action="Register">Register</a></div>
    <div><a @*asp-controller="Account" asp-action="LogIn" *@ class="LogIn">LogIn</a></div>
}
